* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 

}

.app {
  

  background: url(../public/background.jpg), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}



h1,
h2 {
  margin: 25px 0;
  text-align: center;
  width: 100%;
}

button {
  margin-top: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 0 12px;
  filter: brightness(0.9);
}



