* {
  margin: 0;
  padding: 0;
  
}

.App {
  font-family: sans-serif;
  min-height: 100%;
  height: auto !important;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
  
  
}

.itemContainer{
  display: flex;
  justify-content: center;
  
}

h1,
h2 {
  margin: 25px 0;
  text-align: center;
  width: 100%;
}

button {
  margin: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 0 12px;
  filter: brightness(0.9);
}



